@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$font-stack: Raleway;
$dark-pink: #666  ;
$color-white: #f1f1f1;



* {
  box-sizing: border-box;
}
body {
  color: $dark-pink;
  margin: 0;
  font:100%  $font-stack;

}

.btn {
  cursor: pointer;
  outline: none;
  color:$color-white;
  background-color: transparent;
  letter-spacing: 2px;
  border: 2px solid $color-white;
  padding: 15px 25px;
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}

 .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > div {
    justify-content: space-around;
  }
}

// reposividade 

@media screen and (max-width: 768px) {
	body {
		text-align: center;
	}

	.flex {
		flex-direction: column;
	}

	nav {
		
		.hamburger {
			background-color: transparent;
			border: 0;
			cursor: pointer;
			display: flex;
			align-items: center;
			
	
		}
}


	nav .hamburger .close {
		display: none;
	}

	nav .hamburger.show .open {
		display: none;
	}

	nav .hamburger.show .close {
		display: block;
	}

	nav .flex {
		flex-direction: row;
	}

	nav .img-wrapper {
		text-align: left;
	}

	nav ul {
		display: none;
	}

	nav ul.show {
		background-color: $dark-pink;
		display: flex;
		flex-direction: column;
		position: fixed;
		padding-top: 30px;
		margin: 0;
		top: 70px;
		left: 0;
		width: 100vw;
		height: calc(100vh - 70px);
		z-index: 100;
	}

	nav ul li {
		margin: 20px 0;
	}

	nav ul a {
		color: #fff;
	}

	.btn-reverse {
		border-color: #fff;
		color: #fff;
	}

	header {
		padding-top: 0;
		margin-bottom: 50px;
	}

	header::before,
	header::after {
		display: none;
	}

	.ivan {
		display: none;
		
	}

	.line-top::before {
		left: 50%;
		transform: translateX(-50%);
	}

	.reverse-mobile {
		flex-direction: column-reverse;
	}

	.bg-violet {
		background-image: url('../images/bg-pattern-how-we-work-mobile.svg');
	}

	.bg-violet h2 {
		margin-bottom: 20px;
		width: 100%;
	}

	footer {
		background-image: url('../images/bg-pattern-footer-mobile.svg');
		background-size: 100% auto;
		background-position: top center;
	}

	footer ul.flex {
		flex-direction: row;
	}

	footer .flex div {
		width: 100%;
	}
}